/* Home Container */
.home-container {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  background: linear-gradient(135deg, #ea9090, #5454e0);
  color: #fff;
  border-radius: 15px;
  margin-bottom: 40px;
  position: relative;
}

.hero-content {
  max-width: 50%;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-content .btn-primary {
  background: #fff;
  color: #007bff;
  padding: 10px 30px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 25px;
  transition: background 0.3s ease, color 0.3s ease;
}

.hero-content .btn-primary:hover {
  background: #f8f9fa;
  color: #0056b3;
}

.hero-image {
  position: absolute; /* Add this */
  right: 20px; /* Adjust as needed */
  bottom: 0; /* Align to the bottom */
}

.hero-image img {
  height: auto;
  border-radius: 35px;
  max-width: 100%; /* Adjust as needed */
  max-height: 300px; /* Adjust as needed */
  padding: 10px;
  padding-bottom: 20px;
}

/* Features Section */
.features-section {
  text-align: center;
  margin-bottom: 40px;
}

.features-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.feature-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.card-icon {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 20px;
}

.feature-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1rem;
  color: #666;
}

/* Call to Action Section */
.cta-section {
  text-align: center;
  padding: 50px 20px;
  background: #f8f9fa;
  border-radius: 15px;
  margin-bottom: 40px;
}

.cta-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.cta-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-section .btn-primary {
  background: #007bff;
  color: #fff;
  padding: 10px 30px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 25px;
  transition: background 0.3s ease;
}

.cta-section .btn-primary:hover {
  background: #0056b3;
}




