<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <!-- Token Field -->
    <div class="form-group">
      <label for="token">Token</label>
      <input
        type="text"
        id="token"
        formControlName="token"
        placeholder="Enter token"
        class="form-control"
        [ngClass]="{
          'error-border':
            resetForm.get('token')?.touched && resetForm.get('token')?.invalid
        }"
      />
      <div
        class="error-message"
        *ngIf="
          resetForm.get('token')?.touched && resetForm.get('token')?.invalid
        "
      >
        Token is required.
      </div>
    </div>

    <!-- New Password Field -->
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <div class="password-input">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="newPassword"
          formControlName="newPassword"
          placeholder="Enter new password"
          class="form-control"
          [ngClass]="{
            'error-border':
              resetForm.get('newPassword')?.touched &&
              resetForm.get('newPassword')?.invalid
          }"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility('newPassword')"
        >
          {{ showPassword ? "Hide" : "Show" }}
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          resetForm.get('newPassword')?.touched &&
          resetForm.get('newPassword')?.invalid
        "
      >
        <div *ngIf="resetForm.get('newPassword')?.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']">
          At least 8 characters required.
        </div>
        <div *ngIf="resetForm.get('newPassword')?.errors?.['pattern']">
          Must contain a letter, a number & a special character.
        </div>
      </div>
    </div>

    <!-- Confirm Password Field -->
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <div class="password-input">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm new password"
          class="form-control"
          [ngClass]="{ 'error-border': resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.invalid || resetForm.errors?.['mismatch'] }"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility('confirmPassword')"
        >
          {{ showConfirmPassword ? "Hide" : "Show" }}
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          resetForm.get('confirmPassword')?.touched &&
          resetForm.get('confirmPassword')?.invalid
        "
      >
        Confirm Password is required.
      </div>
      <div
        class="error-message"
        *ngIf="resetForm.errors?.['mismatch'] && resetForm.get('confirmPassword')?.touched"
      >
        Passwords do not match.
      </div>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="btn btn-success w-100 mt-3"
      [disabled]="resetForm.invalid"
    >
      Reset Password
    </button>
  </form>
</div>
